<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn how to improve your team's operational workflow</h1>
    <br />
    <h2>I'm Winnie, operation optimizer of teams.</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />  
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Practical Skills</h3>
    <br />
    <p>Learn skills that you can apply to any workplace.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Enroll in courses you find useful.</p>
  </div>

  <div class="col-12 col-sm">
   <h3>Join our Tribe</h3>
   <br />
   <p>Network with like-minded individuals and grow the community.</p>
  </div>