<br />

<div class="booyah-box col-10 offset-1">
  <h1>Team</h1>

  <p>Winnie Khuu is a healthcare professional turned web developer. Her passion came about when she was working in the IT department at a Toronto-based hospital. She has earned her ITIL v3 Foundations and the University of Toronto Full-Stack Web Development Bootcamp Certifications and is excited to grow in this career.</p>
</div>